@page "/counter"
@rendermode InteractiveServer
@using CustomizableQrCode
@using CustomizableQrCode.DemoBlazor.Components.Blazor
@using CustomizableQrCode.Models
@using static CustomizableQrCode.Models.QrModels
@using Microsoft.AspNetCore.Components.Forms

<main class="container-mint">
    <div class="card-mint" id="qrForm">
        <QrCompGenerator InitialContent="https://midominio.com" OnQrGenerated="OnQrReady" />
        @* <QrTypeRadialSelector /> *@
        @* <QrCompGenerator InitialContent="https://midominio.com" OnQrGenerated="OnQrReady" /> *@
    </div>
</main>

@code{
    private string tipoQrSeleccionado = "Link";

    void OnQrReady(string qrImageUrl)
    {
        // Puedes hacer algo cuando se genere el QR
    }

}