@inherits LayoutComponentBase
<!-- Diferir Bootstrap y FontAwesome -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/.../bootstrap-icons.min.css"
      media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/.../bootstrap-icons.min.css"></noscript>


<header class="main-header">
        <div class="header-content">
            <a href="/" class="logo" aria-label="Ir al inicio">
                @* <img class="img-responsive"
                 src="/img/logo/qrboxlogobco.webp"
                 srcset="/img/logo/qrboxlogobco-480.webp 480w, /img/logo/qrboxlogobco.webp 1024w"
                  sizes="(max-width: 600px) 120px, 180px"
                  width="120"
                  height="120"
                  alt="Generador de Códigos"
                  fetchpriority="high"
                  loading="eager"
                /> *@
                <img src="/img/logo/QrBoxLogoBco.webp"
                class="img-responsive"
                 width="120"
                 height="80"
                 style="max-width: 120px; height: auto;"
                 alt="Logo QRBox" 
                  fetchpriority="high"
                  loading="eager"/>
            </a>
            <!-- Burger con aria -->
            <button class="burger" id="burgerBtn" aria-label="Menú" aria-expanded="false" aria-controls="navMenu">&#9776;</button>

            <nav class="nav-menu" id="navMenu" aria-label="Menú principal">
                @* <a href="/counter">Generar QR</a> *@
                <a href="/privacidad">Política de privacidad</a>
                <a href="/terminos">Términos y condiciones</a>
                <a href="/contacto">Contacto</a>
                @* <a href="/terminos" class="cta-btn-blue">Términos y condiciones</a>
                <a href="/contacto" class="cta-btn-outline">Contacto</a> *@
            </nav>
        </div>
    </header>
    <div class="header-shadow-blue"></div>
    @Body


<footer class="footer-mint">
    <p class="footer-text">
        © 2024 <strong>QRBox</strong>
    </p>
    <div class="footer-links">
        <a href="/contacto">Contacto</a>
        <span class="divider">|</span>
        <a href="/privacidad">Política de privacidad</a>
        <span class="divider">|</span>
        <a href="/terminos">Términos y condiciones</a>
    </div>
</footer>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
